@page "/newses"


<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Newses List</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="newses/add-news" class="btn btn-info form-control">
            Add News
        </NavLink>
    </div>
</div>